<div class="form-view">
  <div class="form-container">
    <form [formGroup]="loginForm">
      <ngl-input class="form-field" label="Email">
        <input ngl type="input" formControlName="email" name="email" />
      </ngl-input>

      <ngl-input class="form-field" label="Senha">
        <input ngl type="password" formControlName="password" name="password" />
      </ngl-input>

      <button
        class="form-field"
        type="submit"
        (click)="doAuth()"
        nglButton
        variant="brand"
      >
        Login
      </button>
      <div class="error-message" *ngIf="shouldShowErrorMessage">
        <h3>Combinação de usuário e senha incorreta</h3>
      </div>
    </form>
  </div>
</div>
