.form-field {
  margin-top: 15px;
}

.form-container {
  width: 450px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.form-view {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.form-header {
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-top: 20px;
}
