<div class="nav-menu">
  <div class="nav-item">
    <a routerLink="/login">Login</a>
  </div>

  <div class="nav-item">
    <a routerLink="/list-requests">Todas solicitações</a>
  </div>

  <div class="nav-item">
    <a routerLink="/new-service-request">Nova solicitação</a>
  </div>
</div>
