<div class="form-view">
  <div class="form-container">
    <div class="form-header">
      <h1>Nova solicitação de serviço</h1>
    </div>
    <form [formGroup]="serviceForm">
      <ngl-input class="form-field" label="Nome">
        <input ngl type="input" formControlName="name" name="name" />
      </ngl-input>

      <ngl-input class="form-field" label="Telefone">
        <input ngl type="input" formControlName="contact" name="contact" />
      </ngl-input>

      <ngl-input class="form-field" label="Descrição do problema">
        <input
          ngl
          type="input"
          formControlName="description"
          name="description"
        />
      </ngl-input>

      <ngl-select class="form-field" label="Problema/Atendimento">
        <select ngl formControlName="serviceType" name="service">
          <option value="1">Problema em hardware</option>
          <option value="2">Problema no sistema retaguarda</option>
          <option value="3">Substituição de módulo externo</option>
          <option value="4">Substituição de módulo interno</option>
        </select>
      </ngl-select>

      <button
        class="form-field"
        type="submit"
        (click)="onSubmit()"
        nglButton
        variant="brand"
      >
        Enviar Solicitação
      </button>
    </form>
    <div class="success-message" *ngIf="shouldShowSuccessMessage">
      <h2>Solicitação enviada com sucesso</h2>
    </div>
  </div>
</div>
