table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

.table-view {
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.table-container {
  margin-top: 50px;
  width: 75%;
  background-color: white;
  border-radius: 4px;
}
